@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var Category = ViewBag.Category;
    var book = ViewBag.books;
}
<div class="right_col" role="main">
    <div class="book-manage">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ SÁCH</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Thêm Khuyến Mãi Sách</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h2>Sách tồn kho </h2>
                        <div class="row d-flex justify-content-between">
                            <div class="col-5">
                            @using (Html.BeginForm())
                            {
                            @Html.AntiForgeryToken()
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="font-weight-bold">Tháng</label>
                                        <select name="month" >
                                            @for(int i=1;i<13;i++) {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="font-weight-bold">Năm</label>
                                        <select name="year" >
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="../../Admin/BookManagement" name="submit-cancel" class="btn btn-danger">Cancel</a>
                                    <input type="submit" name="submit-save" class="btn btn-success" value="Save" />
                                </div>
                            }
                            </div>
                            <div class="col-7">
                                <table class= "table">
                                    <tr>
                                        <th>Tên Sách</th>
                                        <th>Hình ảnh</th>
                                        <th>Số lượng Sách</th>
                                    </tr>
                                    <tr>
                                        <td>Sách1</td>
                                        <td><img src="../../images/Book_001.jpg"width="64"
                                        height="92"/></td>
                                        <td>10</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>