<footer>
    <div class="footer-nav">
        <div class="container">
            <div class="footer-nav-wrapper row">
                <div class="col-sm-3">
                    <div class="title-footer">
                        <a href="~/Home" title="Sky Book">
                            <img src="~/images/logo.png">
                        </a>
                    </div>
                    <div class="text-footer title-footer">
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fab fa-telegram-plane"></i>
                                </div>
                                <div class="content-icon">
                                    KTX khu B
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fas fa-phone-volume"></i>
                                </div>
                                <div class="content-icon">
                                    0376-206-***
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content-icon">
                                    17520257@gm.uit.edu.vn
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>Shopping Guide</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">How to buy</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Faq</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Store Locations</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Return Policy</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Payment</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Shipment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>Information</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Delivery information</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Privacy policy</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Discount</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Customer service</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Terms & condition</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>My Account</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">My Account</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">My Cart</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Wishlist</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Perchases</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span>
                Copyright © 2020
                <a href="#">SkyBook</a>
            </span>
        </div>
    </div>
</footer>