<footer>
    <div class="footer-nav">
        <div class="container">
            <div class="footer-nav-wrapper row">
                <div class="col-sm-3">
                    <div class="title-footer">
                        <a href="~/Home" title="Sky Book">
                            <img src="~/images/logo.png">
                        </a>
                    </div>
                    <div class="text-footer title-footer">
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fab fa-telegram-plane"></i>
                                </div>
                                <div class="content-icon">
                                    KTX khu B
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fas fa-phone-volume"></i>
                                </div>
                                <div class="content-icon">
                                    0376-206-***
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="icon-footer">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content-icon">
                                    17520257@gm.uit.edu.vn
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>Hướng Dẫn Mua Sắm</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Mua</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Faq</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Địa điểm cửa hàng</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Chính sách hoàn trả</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Thanh toán</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Phí ship</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>Thông tin</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Về chúng tôi</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Thông tin giao hàng</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Giảm giá</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Dịch vụ khách hàng</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Điều khoản & điều kiện</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="title-footer">
                        <h2>Tài Khoản</h2>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Tài khoản</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Giỏ hàng</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Đăng nhập</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Danh sách</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Mua hàng</a>
                                </li>
                                <li>
                                    <i class="far fa-circle"></i>
                                    <a href="#">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span>
                <a href="#">SkyBook</a>
            </span>
        </div>
    </div>
</footer>