@{
    ViewData["Title"] = "Check out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>Đ</span>ơn hàng của tôi</h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product right -->
				<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
					<div class="side-bar p-sm-4 p-3">
						<div class="search-hotel border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Tài khoản của</h3>
							<span>Huỳnh Công Đạt</span>
							<div class="left-side py-2">
								<ul>
									<li>
										<i class="fas fa-user"></i>
										<a href="Information"><span class="span">Thông tin tài khoản</span></a>
									</li>
									<li>
										<i class="far fa-address-book"></i>
										<a href="donhang.html"><span class="span">Quản lý đơn hàng</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //product right -->
				</div>
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9">
					<div class="wrapper">
						<!-- first section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<div class="row">
								<div class="checkout-right">
									<div class="table-responsive">
										<table class="timetable_sub">
											<thead>
												<tr>
													<th>Mã đơn hàng</th>
													<th>Hình ảnh sản phẩm</th>
													<th>Tên sản phẩm</th>
													<th>Số lượng</th>
													<th>Tổng tiền</th>
													<th>Trạng thái đơn hàng</th>
												</tr>
											</thead>
											<tbody>
												<tr class="rem1">
													<td class="invert">1</td>
													<td class="invert-image">
														<a href="single.html">
															<img src="../../images/KinhTe4.jpg" alt=" " class="img-responsive">
														</a>
													</td>
													<td class="invert">Ai hiểu được khách hàng</td>
													<td class="invert">
														<div class="quantity">
															<div class="quantity-select">
																<div class="entry value">
																	<span>1</span>
																</div>
															</div>
														</div>
													</td>
													<td class="invert">$199</td>
													<td class="invert">Đang xử lý</td>
												</tr>
												<tr class="rem2">
													<td class="invert">2</td>
													<td class="invert-image">
														<a href="single2.html">
															<img src="../../images/VanHoc5.jpg" alt=" " class="img-responsive">
														</a>
													</td>
													<td class="invert">Ghost in love</td>
													<td class="invert">
														<div class="quantity">
															<div class="quantity-select">
																<div class="entry value">
																	<span>1</span>
																</div>
															</div>
														</div>
													</td>						
													<td class="invert">$280</td>
													<td class="invert">Đang xử lý</td>
												</tr>
												<tr class="rem3">
													<td class="invert">3</td>
													<td class="invert-image">
														<a href="single.html">
															<img src="../../images/KyNang1.jpg" alt=" " class="img-responsive">
														</a>
													</td>
													<td class="invert">Chủ nghĩa khắc kỷ</td>
													<td class="invert">
														<div class="quantity">
															<div class="quantity-select">
																<div class="entry value">
																	<span>1</span>
																</div>
															</div>
														</div>
													</td>
													<td class="invert">$320</td>
													<td class="invert">Đã giao</td>
												</tr>
											</tbody>
										</table>
									</div>
			                    </div>
							</div>
						</div>
						<!-- //first section -->
					</div>
				</div>
				<!-- //product left -->
				
			</div>
		</div>
	</div>