 <div class="content clearfix">
    <div class="page-header">
        <div class="container">
            <h1>My Account</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="home.html">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>My Account</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="page-content-wrapper row">
                <div class="col-6">
                    <h2>Login</h2>
                    <form action="" class="login-form">
                        <div>
                            <label for="username">Username or email address
                                <span>*</span>
                            </label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div>
                            <label for="username">Password
                                <span>*</span>
                            </label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div>
                            <input type="submit" value="login"class="submit-login">
                            <label>
                                <input type="checkbox" style="margin-right: 5px;">Remember me
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <h2>Register</h2>
                    <form action="" class="login-form">
                        <div>
                            <label for="username">Email address
                                <span>*</span>
                            </label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div>
                            <label for="username">Password
                                <span>*</span>
                            </label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div>
                            <input type="submit" value="Register"class="submit-login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>