@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    @* sweetalert2 *@
    <link rel="stylesheet" href="~/sweetalert2/dist/sweetalert2.min.css">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">
    <link href="~/css/QL_Sach.css" rel="stylesheet">
    <link href="~/css/QL_TacGia.css" rel="stylesheet">
    <link href="~/css/QL_TaiKhoan.css" rel="stylesheet">
    <link href="~/css/QL_DonDatHang.css" rel="stylesheet">
    <link href="~/css/QL_KhachHang.css" rel="stylesheet">
    <link href="~/css/QL_NhanVien.css" rel="stylesheet">
    <link href="~/css/QL_NhaCungCap.css" rel="stylesheet">
    <link href="~/css/QL_TheLoai.css" rel="stylesheet">
    <link href="~/css/CreateAuthor.css" rel="stylesheet">
    <link href="~/css/EditAuthor.css" rel="stylesheet">
    <link href="~/css/DeleteAuthor.css" rel="stylesheet">
    <link href="~/css/DetailsAuthor.css" rel="stylesheet">
    <link href="~/css/Dasboard.css" rel="stylesheet">
    
</head>
@if(users == null) {
<body>
    @RenderBody()
</body>
}
else {
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="../../Admin/Index" class="site_title"><i class="fa fa-paw"></i><span>Admin</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../../images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào</span>
                            <h2 style="font-size:10px;">@users.email</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i>Trang Chủ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Home">Người Dùng</a></li>
                                        <li><a href="~/Admin/Index">Admin</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Quản Lý<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/BookManagement">Quản lý Sách</a></li>
                                        <li><a href="~/Admin/CategoryManagement">Quản lý Thể loại</a></li>
                                        <li><a href="~/Admin/SupplierManagement">Quản lý NCC</a></li>
                                        <li><a href="~/Admin/AuthorManagement">Quản lý Tác giả</a></li>
                                        <li><a href="~/Admin/OrderManagement">Quản lý Hóa đơn</a></li>
                                        <li><a href="~/Admin/EntryManagement">Quản lý Phiếu Nhập</a></li>
                                        @if(users.role.Equals("Admin")) {
                                        <li><a href="~/Admin/EmployeeManagement">Quản lý Nhân viên</a></li>
                                        }
                                        <li><a href="~/Admin/CustomerManagement">Quản lý Khách hàng</a></li>
                                        <li><a href="~/Admin/DiscountManagement">Quản lý Khuyến mãi</a></li>
                                        <li><a href="~/Admin/ShippingManagement">Quản lý Vận chuyển</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i>Báo Cáo<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/Inventory">Báo cáo Tồn kho</a></li>
                                        <li><a href="~/Admin/SalesReport">Báo cáo Doanh thu</a></li>
                                    </ul>
                                </li>
                                @if(users.role.Equals("Admin")) {
                                <li>
                                    <a><i class="fa fa-user"></i>Account<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Admin/AccountAdminManagement">User Management</a></li>
                                        <li><a href="tables_dynamic.html">Thoát</a></li>
                                    </ul>
                                </li>
                                }
                                
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../../images/img.jpg" alt="">@users.email
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    @* <a class="dropdown-item" href="javascript:;">Profile</a> *@
                                    <a class="dropdown-item" href="../../Admin/Logout"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="pull-right">
            WEBSITE BÁN SÁCH
        </div>
        <div class="clearfix"></div>
    </footer>
    
    @* sweetalert2 *@
    <script src="~/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/Admin.js"></script>
</body>
}

</html>

