.x_content {
    width: 100%;
    height: 280px;
    overflow-x: auto;
    overflow-y: auto;
}

.x_panel {
    width: 140%;
    position: absolute;
    left: 50%;
    height: 385px;
}

.content_DesAuthor
{
    width: 100%;
    height: 100px;
    overflow-y: auto;
    text-overflow: ellipsis;
}