.x_content {
    width: 100%;
    height: 280px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.x_panel {
    width: 140%;
    position: absolute;
    left: 50%;
    height: 385px;
}

.page-title .title_left h4 {
    margin-left: 400px;
    width: max-content;
}

.khung
{
    position: inherit;
    width: 40%;
    left: 30%;
    height: 320px;
    background-color: white;
}

